<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Вильоти
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/pilot">
                            <i class="fas fa-plus"></i>
                            Новий виліт
                            
                        </a>
                    </li>
                    <li *ngFor="let flight of flights" class="nav-item" [routerLink]="['/pilot', flight._id]">
                        <a class="nav-link" >
                            {{flight.dateOfFlight | date:'yyyy-MM-dd HH:mm'}}
                            Статус: <span [ngSwitch]="flight?.flightStep?.step">
                                <span  *ngSwitchCase="FlightSteps.START">Старт</span>
                                <span  *ngSwitchCase="FlightSteps.FLIGHT">Політ</span>
                                <span  *ngSwitchCase="FlightSteps.LBZ_FORWARD">ЛБЗ ВПЕРЕД</span>
                                <span  *ngSwitchCase="FlightSteps.RETURN">Повернення</span>
                                <span  *ngSwitchCase="FlightSteps.LBZ_HOME">ЛБЗ назад</span>
                                <span *ngSwitchCase="FlightSteps.END">Кінець</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 995.4px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>