<div>
    <div class="row">
        <div class="col-3" *ngFor="let flight of flights">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title border-bottom pb-2">{{flight.operator}}</h5>
                    <p>
                        <span [style.backgroundColor]="flight.model?.color"
                            class="badge badge-primary">{{flight.model?.name}}</span>
                        <span [style.backgroundColor]="flight.assignment?.color"
                            class="badge badge-primary">{{flight.assignment?.name}}</span>

                    </p>

                    <div class="alert alert-info">
                        Статус: <span [ngSwitch]="flight.flightStep.step">
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.START">Старт</span>
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.FLIGHT">Політ</span>
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.LBZ_FORWARD">ЛБЗ ВПЕРЕД</span>
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.RETURN">Повернення</span>
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.LBZ_HOME">ЛБЗ назад</span>
                            <span class="badge badge-primary" *ngSwitchCase="FlightSteps.END">Кінець</span>
                        </span>
                    </div>



                    <div class="d-flex justify-content-end">
                        <button *ngIf="!flight.flightStep.isApproved" (click)="approve(flight.id)" class="btn btn-success w-100">
                            Дозволити
                        </button>
                        <div *ngIf="flight.flightStep.isApproved" class="alert alert-success w-100" role="alert">
                            Дозвіл надано
                        </div>
                    </div>
                    

                </div>
            </div>

        </div>

    </div>
</div>