

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <div class="d-flex" style="flex-wrap: wrap;">
                <div style="min-width: 200px;" *ngFor="let flight of flights">
                    <div class="card m-1" [style.backgroundColor]=" flight.flightStep.isApproved === true ? flight.assignment!.color : 'white'">

                        <div class="card-body p-2">
                            <h5 class="card-title border-bottom pb-2">Оператор: {{flight.operator}}</h5>
                            <p>
                                <span [style.backgroundColor]="flight.model?.color"
                                    class="badge badge-primary bg-dark">{{flight.model?.name}}</span>
                                <span
                                    class="badge badge-primary bg-dark">{{flight.assignment?.name}}</span>
        
                            </p>
        
                            <div class="alert alert-info mb-0">
                                <b>Статус: </b> <span [ngSwitch]="flight.flightStep.step">
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.START">Старт</span>
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.FLIGHT">Політ</span>
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.LBZ_FORWARD">ЛБЗ ВПЕРЕД</span>
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.RETURN">Повернення</span>
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.LBZ_HOME">ЛБЗ назад</span>
                                    <span class="badge badge-primary" *ngSwitchCase="FlightSteps.END">Кінець</span>
                                </span>

                                <div><b>Телефон:</b> {{ flight.operatorPhone }}</div>
                                <div><b>Створений:</b> {{ flight.dateOfFlight | date : 'dd/MM/yy HH:mm'}}</div>
                                <div><b>Маршрут вперед:</b> {{ flight.routeForward }} </div>
                                <div><b>Виліт:</b> {{ flight.dateOfFlight | date : 'dd/MM/yy HH:mm' }}</div>
                                <div><b>ЛБЗ Вперед:</b> {{ flight.LBZForwardDate | date : 'dd/MM/yy HH:mm' }}</div>
                                <div><b>Повернення:</b> {{ flight.returnDate | date : 'dd/MM/yy HH:mm' }}</div>
                                <div class="bg-danger" *ngIf="flight.isReturnChanged">
                                    <i class="fas fa-exclamation-circle text-white"></i>
                                    <b>Маршрут назад:</b> {{ flight.changedReturnRoute }} </div>
                                <div *ngIf="!flight.isReturnChanged"><b>Маршрут назад:</b> {{ flight.routeBack }} </div>
                                <div><b>ЛБЗ Назад:</b> {{ flight.LBZBackDate | date : 'dd/MM/yy HH:mm' }}</div>

                            </div>
        
        
                            <!-- <div *ngIf="flight.isReturnChanged == true" class="alert alert-danger mb-0 mt-1">
                                <b>Маршрут назад змінився!</b>
                                <div>
                                    {{flight.changedReturnRoute}}
                                </div>
                            </div> -->
        
                            <div class="d-flex justify-content-center mt-1">
                                
                                <button *ngIf="!flight.flightStep.isApproved" (click)="approve(flight._id)" class="btn btn-success w-50 m-1">
                                    Дозволити
                                </button>
                                <button *ngIf="!flight.flightStep.isApproved" (click)="discard(flight._id)" class="btn btn-danger w-50 m-1">
                                    Заборонити
                                </button>
                            </div>
                            
        
                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>
    </div>
</div>





